<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.1"
        metadata-complete="false"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>CacheFilter1</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter1</filter-name>
        <url-pattern>/coursedetailsbytraineeid</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter2</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter2</filter-name>
        <url-pattern>/traineedetailsbycourseid</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter3</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter3</filter-name>
        <url-pattern>/addnewcourse</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter4</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter4</filter-name>
        <url-pattern>/updatecoursetitle</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter5</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter5</filter-name>
        <url-pattern>/removecourse</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter6</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter6</filter-name>
        <url-pattern>/addnewtrainee</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter7</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter7</filter-name>
        <url-pattern>/updatetraineeemail</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter8</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter8</filter-name>
        <url-pattern>/updatetraineename</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter9</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter9</filter-name>
        <url-pattern>/removetrainee</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter10</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter10</filter-name>
        <url-pattern>/enrolltrainee</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter11</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter11</filter-name>
        <url-pattern>/removetraineefromcourse</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter12</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter12</filter-name>
        <url-pattern>/getallcourses</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CacheFilter13</filter-name>
        <filter-class>net.therap.controller.CacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CacheFilter13</filter-name>
        <url-pattern>/getalltrainees</url-pattern>
    </filter-mapping>














</web-app>